# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Databases and data
*chroma.sqlite3
data/vector_db/

# Logs and temporary files
logs/
*.log
.DS_Store
.files/

# IDE and development
.chainlit/
.gradio/

# Environment files
.env

# Docs and data folders
docs/
data/
